body {
  background-color: #e6e6e6;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  background-color: #007AC6;
  border: none;
}

.navbar .navbar-brand {
    color:  #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.container {
  margin-top: 80px;
}

.label-info {
  background-color: #007AC6;
}

.panel {
  margin-bottom: 0;
}

.panel:hover {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.panel .panel-heading {
  background-color: #FFFFFF;
  border: none;
}

.panel-title {
  color:  #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;

}

#contactsNav {
    color:  #99CAE8;
}

#addNav {
  color: #99CAE8;
}

a, a:visited, a:hover, a:active, a:focus {
  color:inherit;
  background-color: inherit;
  text-decoration: none;
}

.color-blue-1 {
  width: 100px;
  height: 100px;
  background-color: #007AC6;
  border-radius: 10px;
}

.color-blue-2 {
  width: 100px;
  height: 100px;
  background-color: #99CAE8;
  border-radius: 10px;
}

.color-blue-3 {
  width: 100px;
  height: 100px;
  background-color: #52A8EC;
  border-radius: 10px;
}

.color-blue-4 {
  width: 100px;
  height: 100px;
  background-color: #337AB7;
  border-radius: 10px;
}

#color-gray-1 {
  width: 100px;
  height: 100px;
  background-color: #E6E6E6;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #9a9a9a;
}

.color-gray-2 {
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#typography-light {
   letter-spacing: 0.07em;
  font-weight: 300;
}

#typography-regular {
   letter-spacing: 0.0075em;
  font-weight: 400;
}

#typography-bold {
  letter-spacing: 0.035em;
  font-weight: 700;
}

#header-1 {
  font-weight: 200;
}

#header-2 {
  color: #007AC6;
  font-weight: 900;
}

#header-3 {
  letter-spacing: 0.07em;
  font-weight: 200;
  color: #99CAE8;
}

#header-4 {
  color: #52A8EC;
}

#header-5 {
  color: #337AB7;
}

.styleguide {
  margin: 70px;
}

.plight {
  font-weight: lighter;
  letter-spacing: .07em;
}

.pnormal {
  font-size: 16px;
  font-weight: normal;
}

.plead {
  font-size: 20px;
}

#stylebutton-large {
padding: 15px 35px;
font-size: 30px;
text-align: center;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
}

#stylebutton-medium {
  background-color: #99CAE8;
  border: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

#stylebutton-small {
  background-color: #337AB7;
  border: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.styledlist {
  list-style-type: none;
}

#orderedItem1 .panel {
  background-color: #337AB7;
  color: white;
}

#orderedItem2 .panel {
  background-color: #337AB7;
  color: white;
}

#orderedItem3 .panel {
  background-color: #337AB7;
  color: white;
}

ol .panel:hover {
  outline:none;
  border: none;
  box-shadow: none;
}
